extends ../layout_default 

block content 
    
    h3.badge.rounded-pill.bg-dark.mt-1.text-light
        | Android Events
    row 
        button.btn.btn-primary#eventRegisterBtn.mb-3
            | Register Event
    row
        button.btn.btn-danger#eventAddToCartBtn.mb-3
            | Add To Cart Event
    row    
        button.btn.btn-info#eventCustomRevenueBtn.mb-3
            | Revenue Event
    row
        button.btn.btn-success#eventCustomRevenueWithArgsBtn
            | Custom Revenue with Args Event
    h3.badge.rounded-pill.bg-dark.mt-1.text-light 
            | iOS Events 
    row 
        button.btn.btn-primary#iOsEventRegisterBtn.mb-3
            | iOS Register Event