extends ../layout_default 

block content 
    
    h3.badge.rounded-pill.bg-dark.mt-1.text-light
            | GTM Events
    row 
        button.btn.btn-primary#eventRegisterBtn.mb-3
            | Register Event
    row
        button.btn.btn-danger#eventAddToCartBtn.mb-3
            | Add To Cart Event
    row    
        button.btn.btn-info#eventCustomRevenueBtn
            | Revenue Event