extends ../layout_default 

block content 
    
    h2.form-label 
            | GTM Events
    row 
        button.btn.btn-primary#eventRegisterBtn.mb-3
            | Register Event
    row
        button.btn.btn-primary#eventRevenueBtn.mb-3
            | Revenue Event
    row    
        button.btn.btn-primary#eventCustomRevenueBtn
            | Custom Revenue Event