extends layout

block content
  div
    section.text-center
      img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
    section.d-flex.justify-content-center
      p.font-weight-bold
        | SDID
    section.d-flex.justify-content-center
      span.form-text#sdidArea
        | No SDID
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold
        | Custom User ID        
    section.d-flex.justify-content-center.mt-1.p-1
      input.form-control#customUserIdField(type="text" placeholder="Custom User ID" aria-label="customUserId")
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold
        | Events for the test
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnLoginEvent
        | Web Login Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnAddtoCartEvent
        | Web Add to Cart Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnPurchaseItemEvent
        | Web Purchase Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnWebToApp
        | Run Web-to-App
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnBuildWebToApp
        | Build Web-to-App Link
     section.d-flex.justify-content-center.mt-1.p-1
      input.form-control#webtoappArea(type="url" placeholder="Web-to-App URL")
block append-script
  script.
    $(() => {
      console.log('before initSingularSdk');
      initSingularSdk();
      console.log('after initSingularSdk');
      console.log('SDID: ' + singularSdk.getSingularDeviceId());
      $('#sdidArea').text(singularSdk.getSingularDeviceId());
      //$('#customUserIdField').val('973157');
      
      // Web Login Event
      $('#btnLoginEvent').on('click', (e) => {
        e.preventDefault();
        const currentCustomUserId = $('#customUserIdField').val();
        console.log('currentCustomUserId: ' + currentCustomUserId);
        if (currentCustomUserId != undefined) {
          singularSdk.setDeviceCustomUserId(currentCustomUserId);
        }  
      });
      // Web Add to cart Event
      $('#btnAddtoCartEvent').on('click', (e) => {
        e.preventDefault();
        sendEvent('Add_to_Cart', {productId: '12345'});
      });
      // Web Purchase Event
      $('#btnPurchaseItemEvent').on('click', (e) => {
        e.preventDefault();
        sendRevenue('Purchase', "KRW", 15000, {productId: '12345'});
      });

      $('#btnWebToApp').on('click', (e) => {
        e.preventDefault();
        const utmParams = $(document)[0].location.search;
        //openApp();
        openAppWithParams(utmParams);
        e.target.blur();
      });
      $('#btnBuildWebToApp').on('click', (e) => {
        e.preventDefault();
        const utmParams = $(document)[0].location.search;
        //const link = buildWebToAppLink();
        const link = buildWebToAppLinkWithParams(utmParams);
        $('#webtoappArea').val(link);
        e.target.blur();
      });
    });