extends layout

block content
  div
    section.text-center
      img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
    section.d-flex.justify-content-center
      button.btn.btn-outline-primary#btnWebToApp
        | 앱으로 이동
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnBuildWebToApp
        | Build Web-to-App
block append-script
  script.
    $(() => {
      console.log('before initSingularSdk');
      initSingularSdk();
      console.log('after initSingularSdk');

      $('#btnWebToApp').on('click', (e) => {
        e.preventDefault();
        openApp();
        e.target.blur();
      });
      $('#btnBuildWebToApp').on('click', (e) => {
        e.preventDefault();
        buildWebToAppLink();
        e.target.blur();
      });
    });